body{
  font-family: 'Roboto Condensed', sans-serif;
}
.tx-subdued{
  color:#667085;
}
.tx-surface{
  color: #FFFFFF99;
}
.bd-grey{
  border: 1px solid #9CA3AF
}
.main-dark{
  background-image: url('../img/bg-kiosk.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position: top right;
}
.card-round{
  border-radius:24px;
  color: #202223;
}
.video-wrapper {
  display: flex;
  height: 200px;
}
.video-fluid {
  aspect-ratio: 16 / 9;
}
.paper-1{
  background-image: url('../img/woman.png');
  background-repeat:no-repeat;
  background-size: cover;
  height:100%;
}
.paper-2{
  background-image: url('../img/mega.png');
  background-repeat:no-repeat;
  background-size: cover;
  height:100%;
}
.img-h{
  min-height: 18rem
}
@media (max-width: 575.98px) { 
  .main-dark{
    background-image: url('../img/bg-kiosk.png');
    background-repeat:no-repeat;
    background-size:auto;
    background-position: center;
  }
 }
 