.bg-surface{
  background-color: rgba(18, 18, 18, 0.9)
}
.tx-subdued{
  color:#667085;
}
.bd-grey{
  border: 1px solid #9CA3AF
}
.left-side{
  background-image: url('../img/bg-log.png');
  background-repeat:no-repeat;
  background-size:contain;
  /* background-position: center; */
}
.card-round{
  border-radius:24px;
  color: #202223;
}
.vert-center{
  /* margin: 0; */
  position: absolute;
  top: 25%;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.pos-rel{
  position:relative;
  height:100vh ;
}
@media (max-width: 575.98px) { 
  .main{
    background-image: url('../img/bg.png');
    background-repeat:no-repeat;
    background-size:auto;
    background-position: center;
  }
  .neg-mar{
    margin-left:0px!important;
  }
  .bg-uba{
    background-image: url('../img/uba-country.png');
    background-repeat:no-repeat;
    background-size: contain;
    height:30vh!important;
    /* margin-top:-50px; */
  }
  .vert-login{
    /* margin: 0; */
    position: absolute;
    top: 0%!important;
    -ms-transform: translateY(0%);
    transform: translateY(0%)!important;
  }
 }

 // Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1100.98px) { 
  .bg-uba{
    background-image: url('../img/uba-country.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height:100%;
  }
}


 .bg-uba{
  background-image: url('../img/uba-country.png');
  background-repeat:no-repeat;
  background-size: contain;
  height:100vh;
  /* margin-top:-50px; */
}
.video-fluid {
  aspect-ratio: 16 / 9;
}
.vert-login{
  /* margin: 0; */
  position: absolute;
  top: 5%;
  -ms-transform: translateY(50%);
  transform: translateY(20%);
}
.neg-mar{
  margin-left:-50px;
}